label.switch {
    --toggle-background-color: var(--ui-background-color);

    width: var(--width);

    display: inline-block;
    position: relative;
}

label.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

span.toggle::before, span.toggle::after {
    position: absolute;
    width: 50%;
    height: 100%;
    padding: 1px;

    content: "";
    font-size: 14px;
    color: white;

    /* center content in box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color);
    transition: background-color 0.5s ease-in-out;
}

span.toggle::before {
    content: attr(slow);
    top: 0;
    left: 0;
}

span.toggle::after {
    content: attr(fast);
    top: 0;
    right: 0;
    background-color: var(--toggle-background-color);
}

/* toggle speed */
input:checked + span.toggle:before {
    background-color: var(--toggle-background-color);
}

input:checked + span.toggle:after {
    background-color: var(--background-color);
}

/* toggle highlight */
span.toggle:hover::before {
    background-color: var(--hover-color);
}

input:checked + span.toggle:hover::after {
    background-color: var(--hover-color);
}
