<ul id="header">
  <li>
    <ul>
      <li class="dropdown">
        <button type="button" class="menu" id="Gaits">Gaits</button>
        <div class="dropdown-container">
          <input type="text" placeholder="Search..." id="myInput">
          <div class="dropdown-content" id="myDropdown">
            <button>Loading Gaits...</button>
          </div>
        </div>
      </li>
      <li>
        <button type="button" class="menu" id="View">View</button>
        <div class="dropdown-container" style="min-width: 10vw;">
          <div class="dropdown-content" id="view-content">
          </div>
        </div>
      </li>
      <li>
        <button type="button" class="menu" id="play"></button>
      </li>
    </ul>
  </li>

  <li>
    <ul>
      <li class="playback">
        <div id="slider-container">
          <input type="range" id="myRange" min="0" max="1" step="any" value="0">
        </div>
      </li>
      <li class="playback">
        <label class="switch">
          <input type="checkbox" checked id="slow-fast-checkbox">
          <span class="toggle" id="slow-fast-text"
            slow="0x" fast="1x"></span>
        </label>
      </li>
    </ul>
  </li>
</ul>
