<ul id="header">
  <li>
    <ul>
      <li class="dropdown">
        <button type="button" class="menu" id="Gaits"
          onclick="toggleDropdown( this )">Gaits</button>
        <div class="dropdown-container">
          <input type="text" placeholder="Search..." 
            id="myInput" onkeyup="filter()">
          <div class="dropdown-content" id="myDropdown">
            <button>Loading Gaits...</button>
          </div>
        </div>
      </li>
      <li>
        <button type="button" class="menu" id="View" 
          onclick="toggleDropdown( this )">View</button>
        <div class="dropdown-container" style="min-width: 10vw;">
          <div class="dropdown-content">
            <button onclick="setView('default')">Default</button>
            <button onclick="setView('top')">Top</button>
            <button onclick="setView('side')">Side</button>
            <button onclick="setView('front')">Front</button>
            <button onclick="setView('all')">All Views</button>
          </div>
        </div>
      </li>
      <li>
        <button type="button" class="menu" id="play" 
          onclick="play( this )">&#x23F5;</button>
      </li>
    </ul>
  </li>

  <li>
    <ul>
      <li class="playback">
        <div id="slider-container">
          <input type="range" id="myRange" 
            min="0" max="1" step="any" value="0"
            oninput="seek( this )" onchange="seek( this )">
        </div>
      </li>
      <li class="playback">
        <label class="switch">
          <input type="checkbox" checked 
                 id="slow-fast-checkbox" onclick="toggleSpeed(this)">
          <span class="toggle" id="slow-fast-text"
            slow="0x" fast="1x"></span>
        </label>
      </li>
    </ul>
  </li>
</ul>

<div id="container"></div>

<ul id="footer">
  <li id="info">Loading Gaits...</li>

  <li>
    <ul>
      <li>
        <label class="switch">
          <input type="checkbox" id="video-image-checkbox" 
            checked onclick="toggleText( this )">
          <span class="toggle" slow="images" fast="video"></span>
        </label>
      </li>
      <li id="images">
        <input type="text" maxlength="3"
          id="images-input" placeholder="# of frames">
        <span class="tooltip" id="tooltip-text">use @n for n fps</span>
      </li>
      <li>
        <button type="button" class="menu" id="save-button"
          onclick="saveImages()">Save</button>
      </li>
    </ul>
  </li>
</ul>
