li.dropdown {
    display: inline-block;
}

li div.dropdown-container {
    display: none;
    position: absolute;
    min-width: 40vw;
    z-index: 1;
    overflow: auto;
    background-color: var(--border-color);
}

li div.show-dropdown-container {
    display: block;
}

#myInput {
    width: 100%;
    font-size: 16px;
    padding: 15px 15px 15px 45px;
    border: 2px solid #333;

    background-image: url('./searchicon.svg');
    background-position: 14px 16px;
    background-size: 21px 21px;
    background-repeat: no-repeat;
}

li div.dropdown-content {
    display: flex;
    flex-flow: column wrap;
    max-height: 65vh;
}

li div.dropdown-content button {
    font-size: 14px;
    background-color: var(--background-color);
}

li div.dropdown-content button:hover {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
}


