#slider-container {
    --track-background-color: #d3d3d3;
    --thumb-background-color: var(--ui-background-color);

    width: calc(2 * var(--width)); /* 2 li button widths */

    display: flex;
    align-items: center;
    justify-content: center;
}

#slider-container:hover {
    background-color: var(--hover-color);
}

#slider-container #myRange {
    -webkit-appearance: none;
    background-color: inherit;
}

#slider-container #myRange:focus {
    outline: none;
}

#slider-container #myRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--track-background-color);
    border-radius: 5px;
    border: 1px solid black;
}

#slider-container #myRange::-webkit-slider-thumb {
    border: 1px solid black;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background: var(--thumb-background-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
}

#slider-container #myRange:focus::-webkit-slider-runnable-track {
    background: var(--track-background-color);
}

#slider-container #myRange::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: var(--track-background-color);
    border-radius: 5px;
    border: 1px solid black;
}

#slider-container #myRange::-moz-range-thumb {
    border: 1px solid black;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background: var(--thumb-background-color);
    cursor: pointer;
}

#slider-container #myRange::-ms-track {
    width: 100%;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}

#slider-container #myRange::-ms-fill-lower {
    background: var(--track-background-color);
    border-radius: 10px;
}

#slider-container #myRange::-ms-fill-upper {
    background: var(--track-background-color);
    border-radius: 10px;
}

#slider-container #myRange::-ms-thumb {
    margin-top: 1px;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background: var(--thumb-background-color);
}

#slider-container #myRange:focus::-ms-fill-lower {
    background: var(--track-background-color);
}

#slider-container #myRange:focus::-ms-fill-upper {
    background: var(--track-background-color);
}
